@import '../../_shared.scss';

$arrow-side-length: 55px;

.arrows {
  display: flex;
  justify-content: space-between;
  width: 121px;

  .arrow-wrapper {
    cursor: pointer;
    height: $arrow-side-length;
    width: $arrow-side-length;
    @include simple-ease-med(opacity);
    
    img { 
      width: 100%; 
      background: black;
      border-radius: 100%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    }
    
    &:hover { opacity: 0.6; }
  }
}