@import '../../_shared.scss';

.menu {
  height: calc(var(--menu-height) + var(--height-addition));
  width: calc(100vw + var(--menu-width-addition));
  margin-left: calc(-1*var(--menu-width-addition));
  background: $black;
  transform-origin: center top;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tilt;
  @include simple-ease-med(height);
  
  .menu-item {
    min-width: 100vw;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: clip;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    @include __CM;
    color: $white;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @include simple-ease-fast(opacity, font-size, background-color);

    .item-text { font-size: 250px; }    
    
    &:hover {
      background-color: $dark-grey;
      opacity: 1;
      min-height: 96px;
      padding-bottom: 4px;
    
      .item-text { font-size: 130px; }
    }
  }
}

.hide-menu {
  height: 0px !important;
}