@import '../../_shared.scss';

.content {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--header-height-calc) - 77px);
  padding-top: calc(var(--header-height-calc) + 77px);
  overflow: scroll;
  z-index: 1;
  opacity: 1;
  display: flex;
  transform: translateY(0px);
  flex-direction: row-reverse;
  @include for-desktop { justify-content: center; }
  @include for-mobile { flex-direction: column; }
  transition: opacity 0.2s ease, transform 0.5s ease;
  
  .content-col {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    @include for-desktop{ max-width: 730px; }
    @include for-mobile { flex: 1 0 auto; }

    .inner {
      width: 75%;
      @include for-mobile { width: 80%; }
      max-width: 670px;
    }

    .visuals {
      .image-wrapper { margin-top: 50px; }
      .caption { margin-top: 10px;  }
      img { 
        width: 100%; 
        -webkit-backface-visibility: hidden;
        @include simple-ease-fast(opacity);
        &:hover { opacity: 0.8; }
      }

      .mobile-arrows-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 65px;
        @include for-desktop { display: none !important; }
        
        .mobile-arrows { width: 180px; } 
      }
    }

    .description {
      .link { margin-right: 8px; margin-bottom: 8px; display: inline-block; }
      h1 { margin-bottom: 12px; }
      h2, h3 { margin-top: 28px; }
      ul { padding: 0; }
      li { margin-bottom: 5px; font-size: 14px; }
      p { font-size: 14px; line-height: 20px; }
      .quote { opacity: 0.7; margin: 30px; font-size: 18px; line-height: 26px; }
      a { 
        color: $white;
        @include simple-ease-fast(opacity);
        &:hover { opacity: 0.7; }
      }
    }

    .bottom-spacer { height: 120px; width: 100%; }
  }

  &::-webkit-scrollbar { display: none; } // this don't work on firefox
}

.hide { opacity: 0; transform: translateY(30px); }