@import '../../_shared.scss';

.header {
  height: var(--header-height-comp);
  margin-top: calc(-1*var(--height-addition));
  width: calc(100vw + var(--header-width-addition));
  @include __MB;
  color: $black;
  background: $white;
  justify-content: space-between;
  transform-origin: center bottom;
  cursor: pointer;
  @include tilt;

  .title {
    position: absolute;
    font-size: 72px;
    text-transform: uppercase;
    @include simple-ease-med(opacity);
    @include for-desktop { bottom: 16px; left: 48px; }
    @include for-mobile { 
      @include untilt; 
      font-size: 54px;
      bottom: 38px;
      left: 32px;
    }

    .hi {
      text-transform: none;
      @include for-mobile { font-size: 54px; }
      @include for-desktop { display: inline; }
    }

    .im {
      text-transform: none;
      padding-left: 16px;
      @include for-desktop { display: inline; }
      @include for-mobile { 
        @include __ML;
        font-size: 24px;
        padding-left: 4px;
      }
    }

    &.fade-title { opacity: 0; }
    &.forced-fade { opacity: 0; }
  }
}