//// Colors
$black:     #000000;
$dark-grey: #1B1B1B;
$white:     #FFFFFF;

//// Mixins

// Fonts
@mixin __MB {
  font-family: '__MB', sans-serif;
}

@mixin __MM {
  font-family: '__MM', sans-serif;
}

@mixin __ML {
  font-family: '__ML', sans-serif;
}

@mixin __CM {
  font-family: '__CM', sans-serif;
}

@mixin __CB {
  font-family: '__CB', sans-serif;
}

// Responsive
@mixin for-mobile {
  @media (max-width: 999px) { @content; }
}
@mixin for-desktop {
  @media (min-width: 1000px) { @content; }
}

// Transforms
@mixin tilt {
  transform: rotate(-2deg);
}

@mixin untilt {
  transform: rotate(2deg);
}

// Transitions
@mixin simple-ease-fast($property...) {
  $val: ();
  @each $p in $property {
    $val: append($val, ($p 0.2s ease), comma)
  }
  transition: $val;
}

@mixin simple-ease-med($property...) {
  $val: ();
  @each $p in $property {
    $val: append($val, ($p 0.3s ease), comma)
  }
  transition: $val;
}