@keyframes content {
  0% {
    opacity: 0;
    visibility: visible;
    transform: translateY(15px); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px); } }

:root {
  --tan-2: 0.034920769491748;
  --height-addition: calc(var(--tan-2) * 100vw / 2);
  --header-height-rect: 170px;
  --header-width-addition: calc(var(--tan-2) * var(--header-height-rect));
  --header-height-calc: calc(var(--header-height-rect) + var(--height-addition));
  --menu-height: calc(100vh - var(--header-height-rect));
  --menu-width-addition: calc(var(--tan-2) * var(--menu-height)); }

body {
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: '__CB', sans-serif;
  position: relative; }
