:root {
  --height-addition: calc(0.034920769491748 * 100vw / 2);
  --header-height-rect: 160px;
  --header-width-addition: calc(0.034920769491748 * var(--header-height-rect));
  --header-height-calc: calc(var(--header-height-rect) + var(--height-addition));
  --menu-height: calc(100vh - var(--header-height-rect));
  --menu-width-addition: calc(0.034920769491748 * var(--menu-height)); }
  @media (min-width: 1000px) {
    :root {
      --header-height-rect: 170px; } }

body {
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: '__CB', sans-serif;
  position: relative; }

.header-menu {
  position: absolute;
  overflow-x: hidden;
  width: 100vw;
  min-height: var(--header-height-calc);
  max-height: 100vh;
  z-index: 2; }
  @media (min-width: 1000px) {
    .header-menu {
      overflow-y: hidden; } }
